@media (min-width: 320px) and (max-width: 2560px) {
}
body {
  background-color: rgb(223, 221, 221);
  font-family: "Outfit", sans-serif;
}
.box {
  height: 93.31vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigbox {
  min-width: 150px;
  width: 310px;
  height: 73.09vh;
  background-color: rgb(245, 245, 245);
  border-radius: 0.375rem;
  box-shadow: 0 0.25rem 0.938rem rgba(0, 0, 0, 0.2);
}
.box_qr img {
  min-width: 140px;
  width: 290px;
  height: 46.65vh;
  margin: 0.625rem;
  border-radius: 0.375rem;
}

.bigbox .title_qr {
  text-align: center;
  justify-content: center;
  padding: 0.625rem;
  color: rgb(45, 45, 65);
  font-size: 1rem;
}
.bigbox .text_qr {
  text-align: center;
  padding: 0.3rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  color: rgb(127, 127, 151);
}
